body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	background: url("../img/pattern-bg.png") fixed;
}
h1, h2, h3 {
    margin : 0 0 15px;
}
h1 {
    font-size : 26px;
    line-height : 1.8em;
    font-weight : 700;
}
h2 {
    color : #C0C0C0;
    font-size : 19px;
    line-height : 1.8em;
    font-weight : bold;
}
h3 {
    font-size : 16px;
    line-height : 1.8em;
    font-weight : 500;
}
.pasiuni{
	font-size : 16px;
    line-height : 1.8em;
    font-weight : 500;
	margin-top: -12px;
}
a {
    color : #FFC107;
    text-decoration : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition : all 0.3s ease 0s;
    -o-transition : all 0.3s ease 0s;
    transition : all 0.3s ease 0s;
}
a, a:active, a:focus, a:active {
    text-decoration : none;
    outline : none
}
a:hover, a:focus {
    text-decoration : none;
    color : #ff9800;
}
/***************
***************/
.text_Poza_Proiect{
	position: absolute;
  	bottom: 1px;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.c{
	position: relative;
  	text-align: center;
  	color: white;
}

.aliniere_poza{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.educatie {
    margin-top: -20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.locatie {
    margin-top: -11px;
    margin-bottom: 22px;
    font-weight: bold;
}
/************
************/

.cv-header {
    line-height: 1;
    background-color: transparent;
    height: 100px;
}
.cv-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}
.cv-header-logo:hover {
    text-decoration: none;
}
.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
.display-4 {
    font-size: 3rem;
}
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}
.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}
.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
.h-md-250 {
    height: 250px;
}
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
/*
 * cv name and description
 */
.cv-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.cv-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
.cv-title {
    font-size: 3.5rem;
}
}
/****************
cv posts
 ****************/
.cv-post {
    margin-bottom: 4rem;
}
.cv-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.cv-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
    margin-top: -15px;
}
/*
 * Footer
 */
.cv-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: transparent;
}
.cv-footer p:last-child {
    margin-bottom: 0;
}

/*************
Bara progres
**************/
.progress {
    height: 5px;
    width: 90%;
}
 .progress-title {
    font-size : 15px;
    font-weight : 450;
    display : inline-block;
    margin-bottom : 5px;
}
.progress .progress {
    height : 4px;
    box-shadow : none;
    border-radius : 5px;
}
.progress .progress-bar {
    box-shadow : none;
    text-align : right;
}
.progress-percent {
    font-size : 10px;
    background-color : #313131;
    position : absolute;
    top : 5px;
    padding : 0 8px;
    border-radius : 3px;
}
.progress-percent::before {
    content : "";
    position : absolute;
    left : 0;
    bottom : -4px;
    border-top : 6px solid #313131;
    border-right : 8px solid transparent;
}

/***************
Formular de contact
***************/
.form-control {
    height : 52px;
    width: 80%;
    padding : 0 20px;
    font-size : 12px;
    line-height : 50px;
    color : #969595;
    border : 1px solid #cccccc;
    border-radius : 4;
    box-shadow : none;
    box-sizing : border-box;
}
.form-control:focus, .form-control:active {
    box-shadow : none;
}
.btn {
    padding : 14px 30px 11px;
    margin-bottom : 0;
    font-size : 14px;
    font-weight : 500;
    border-radius : 5;
    border : 0;
    text-transform : uppercase;
}
.btn-lg {
    font-weight : 700;
    font-size : 24px;
    padding : 15px 30px;
}
/*btn-primary*/
.btn-primary {
    background-color : #FFC107;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus {
    background : #ff9800;
}
.social-icon {
    margin : 20px 0;
    padding : 0;
    display : block;
}
.social-icon li {
    display : inline-block;
    margin : 0 2px;
}
.social-icon li a {
    display : block;
    font-size : 16px;
    color : #333333;
    width : 34px;
    height : 34px;
    line-height : 33px;
    text-align : center;
    border-radius : 2px;
    border : 2px solid #eeeeee;
}
.social-icon li a:hover {
    border-color : #cccccc;
}
/************
Grid
************/
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}
.col-sm {
    padding-left: 0px;
    padding-bottom: 10px;
    background-color: white;
}
.col-md-5 {
	padding-bottom: 10px;
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
    border-width: thin;
    border-color: #E0E0E0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    height: 100%;
    background-color: white;
    max-width: 33.333333%
}
.col-md-6 {
    border: solid;
    border-width: thin;
    border-color: #E0E0E0;
    padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
    -webkit-box-flex: 0;
    background-color: white;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
/*****************
Sticky sidebar
*****************/
.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 25px 15px 65px 15px;
}

@media screen and (max-width: 700px) {
.sidebar-item {
    width: 100%;
    height: auto;
    position: relative;
}
div.content {
    margin-left: 0;
}
}

@media screen and (max-width: 400px) {
.sidebar-item a {
    text-align: center;
    float: none;
}
}
.sticky {
    position : -webkit-sticky;
    position : sticky;
    top : 0;
}
.right{ /*scris 'despre mine'*/
	padding: 15px 5px 10px 5px;
}

